<section data-ng-controller="FlashcardsController" data-ng-init="find()">
	<ul class="flashcards unstyled">
		<li data-ng-repeat="flashcard in flashcards">
			<span>{{flashcard.created | date:'medium'}}</span> /
			<span>{{flashcard.user.name}}</span>
			<h2><a data-ng-href="#!/flashcards/{{flashcard._id}}">{{flashcard.question}}</a></h2>
			<div>{{flashcard.answer}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!flashcards || flashcards.length">No flashcards yet. <br> Why don't you <a href="/#!/flashcards/create">Create One</a>?</h1>
</section>
